$dark-blue: #1a1e23;
$blue: #3498db;
$pink: #ec6ead;
$white: #ecf0f1;
$color-green: #53a318;
$color-gray-disabled: #e8e8e8;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	background-color: $dark-blue;
	color: $white;
}

main > p {
	padding: 1em;
	text-align: center;
}

main > h2 {
	margin-top: 1em;
}

.prompt_message {
	font-size: 3rem;
	display: none;
}

.wrapper {
	display: grid;
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	grid-template-rows: auto auto 1fr auto;
}

[class^='box-'] {
	display: grid;
	place-items: center;
}

.hero-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.7);
}

//NAVIGATION
.wrapper > nav {
	background-color: $dark-blue;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-image: url('/assets/pexels-andrea-piacquadio-3808904.jpg');
	position: relative;
	height: 60vh;
	color: #ec6ead;
	background-size: cover;
	background-position: center;
	z-index: 0;

	ul {
		display: flex;
		list-style-type: none;
		font-weight: bold;
		letter-spacing: 0.2em;

		li {
			padding: 6px 0;

			a {
				position: relative;
				display: block;
				padding: 0 1rem;
				color: $white;
				text-decoration: none;
				text-transform: uppercase;
				transition: 0.5s;
				font-size: 1.8rem;

				&::after {
					position: absolute;
					content: '';
					top: 100%;
					left: 0;
					width: 100%;
					height: 3px;
					background: $blue;
					transform: scaleX(0);
					transform-origin: right;
					transition: transform 0.5s;
				}

				&:hover {
					color: #95a5a6;
				}

				&:hover::after {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
	}

	.logo-nav {
		background-image: url('/assets/nautil-logo.png');
		position: relative;
		height: 6rem;
		color: #ec6ead;
		background-size: cover;
		background-position: center;
		z-index: 0;
	}

	.nav-link {
		margin: 0.5em 0;
	}
}

.wrapper > section {
	display: flex;
	flex-direction: column;
	justify-self: center;
	text-align: center;
	padding: 2em;
	font-size: 2rem;

	p {
		padding: 1em;
	}

	.fuller-button {
		color: rgba(255, 255, 255, 1);
		background: none;
		border-radius: 0;
		padding: 1.2em 5em;
		letter-spacing: 0.35em;
		font-size: 0.7em;
		transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
		margin: 1em;

		&.blue {
			box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
			border: #0dd solid 2px;
		}

		&.blue:hover {
			background-color: #0dd;
			box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
		}

		&.red {
			box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4);
			border: #fb5454 solid 2px;
		}

		&.red:hover {
			background-color: #fb5454;
			box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
		}

		&.white {
			box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
			border: #fff solid 2px;
		}

		&.white:hover {
			color: rgba(0, 0, 0, 0.8);
			background-color: #fff;
			box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
		}
	}

	.pure-control-group {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		position: relative;
		padding: 0 1em 2.6em 1em;
	}

	.pure-form .pure-control-group label {
		text-align: left;
		position: absolute;
		left: 0;
		top: 15%;
		z-index: 0;
		letter-spacing: 0;
		margin: 0 1em;
	}

	.pure-form .pure-control-group input {
		background: none;
		box-shadow: none;
		padding-left: 0;
		border-radius: 0;
		border: none;
		border-bottom: 2px solid rgba(255, 255, 255, 0.4);
		position: relative;
		z-index: 1;
		color: #fff;
	}
	.pure-form .pure-control-group input:focus {
		border-bottom: 2px solid white;
	}

	.pure-form .pure-control-group textarea {
		background: none;
		box-shadow: none;
		border-radius: 0;
		border: none;
		border-left: 2px solid rgba(255, 255, 255, 0.4);
		resize: none;
		height: 8em;
		color: #fff;
	}
	.pure-form .pure-control-group textarea:focus {
		border-left: 2px solid white;
	}

	.pure-form .pure-control-group input[type='email']:focus:invalid {
		color: #fff;
	}

	.pure-form .pure-control-group input[type='email']:invalid {
		color: #fb5454;
	}

	.pure-form button {
		margin: 0.5em 1em;
	}

	.textarea {
		background-color: #dddddd;
		color: #666666;
		padding: 1em;
		border-radius: 10px;
		border: 2px solid transparent;
		outline: none;
		font-family: 'Heebo', sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.4;
		width: 600px;
		height: 400px;
		transition: all 0.2s;
	}

	.textarea:hover {
		cursor: pointer;
		background-color: #eeeeee;
	}

	.textarea:focus {
		cursor: text;
		color: #333333;
		background-color: white;
		border-color: #333333;
	}
}

.wrapper > main {
	display: flex;
	flex: wrap;
	justify-content: center;
	flex-direction: column;
	background-color: $white;
	color: $dark-blue;
}

.dataCount {
	font-size: 4rem;
	font-weight: bold;
}
/*CARDS*/

.container {
	position: relative;
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 900px;
}

.questionMark {
	position: absolute;
	background-image: url('../assets/question.png');
	background-size: cover;
	background-position: center;
	right: 1%;
	top: 5%;
	z-index: 0;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.quetionMark:hover .card-desc {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 40px;
}

.clearText {
	display: none;
}

.product-details {
	position: relative;
	text-align: center;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 100%;
}

.container .product-details h2 {
	display: inline-block;
	position: relative;
	font-size: 3em;
	color: #344055;
	margin: 0.3em;
}

/*Progress Bar*/
.rangeFlesch {
	width: 70%;
	padding: 2em;
}

section > .slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50;
}

.dataIndex {
	font-size: 2em;
	color: #344055;
}

.card-desc {
	position: absolute;
	left: 0;
	display: flex;
	height: 0;
	padding: 18px 8%;
	font-size: 2.2rem;
	background-color: white;
	transition: 0.8s ease;
	opacity: 0;
}

// .product-details:hover .card-desc {
// 	height: 100%;
// 	opacity: 1;
// }

/*ABOUT US CARDS*/

#aboutus .container-card-about-us {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 40px 0;
}

#aboutus .container-card-about-us .card {
	position: relative;
	min-width: 320px;
	height: 440px;
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1),
		5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	margin: 30px;
	transition: 0.5s;
}

#aboutus .container-card-about-us .card:nth-child(1) .box .content a {
	background: #2196f3;
}

#aboutus .container-card-about-us .card:nth-child(2) .box .content a {
	background: #e91e63;
}

#aboutus .container-card-about-us .card:nth-child(3) .box .content a {
	background: #23c186;
}

#aboutus .container-card-about-us .card .box {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: #2a2b2f;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s;
}

#aboutus .container-card-about-us .card .box:hover {
	transform: translateY(-50px);
}

#aboutus .container-card-about-us .card .box:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.03);
}

#aboutus .container-card-about-us .card .box .content {
	padding: 20px;
	text-align: center;
}

#aboutus .container-card-about-us .card .box .content h2 {
	position: absolute;
	top: -10px;
	right: 30px;
	font-size: 8rem;
	color: rgba(255, 255, 255, 0.1);
}

#aboutus .container-card-about-us .card .box .content h3 {
	font-size: 2.8rem;
	color: #fff;
	z-index: 1;
	transition: 0.5s;
	margin-bottom: 15px;
}

#aboutus .container-card-about-us .card .box .content p {
	font-size: 1.5rem;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.9);
	z-index: 1;
	transition: 0.5s;
}

#aboutus .container-card-about-us .card .box .content a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	background: black;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	margin-top: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}
#aboutus .container-card-about-us .card .box .content a:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
	background: #fff;
	color: #000;
}

.wwrapper > #aboutus {
	background-color: $dark-blue;
}

.wrapper > footer {
	background-color: $dark-blue;
}

@media (max-width: 1024px) {
	.container {
		margin: 2em auto;
		height: 350px;
		width: 600px;
	}

	.container .product-details h2 {
		font-size: 2em;
	}

	section > .slider {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 50;
	}

	.dataIndex {
		font-size: 1.5em;
		color: #344055;
	}

	.card-desc {
		font-size: 2rem;
	}
}
@media (max-width: 768px) {
	.wrapper > section .textarea {
		font-size: 1.5rem;
		line-height: 1.4;
		width: 350px;
		height: 300px;
	}

	.container {
		margin: 2em auto;
		height: 350px;
		width: 400px;
	}

	.container .product-details h2 {
		font-size: 1.5em;
	}

	section > .slider {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 50;
	}

	.dataIndex {
		font-size: 1.5em;
		color: #344055;
	}

	.card-desc {
		font-size: 2rem;
	}
}
